
body{
    background-color: rgb(232, 229, 226);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 45%;
    padding: 20px;
    margin: 100px 450px; 
    background-color: cornflowerblue;
}

input{
    margin: 10px;
}

button{
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.radioGender{
    display: flex;
}
label{
    font-size: 20px;
    font-weight: bold;
}